body {
  padding-top: 100px;
  overflow: hidden;
}

.section-row {
  display: flex;
  align-items: center;
  justify-content: space-around;
  scroll-snap-align: start;
}

.section-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  scroll-snap-align: start;
}

.container-fluid {
  overflow: hidden;
  overflow-y: scroll;
  height: calc(100vh - 100px);
  scroll-snap-type: y mandatory;
  padding: 10px;
}

.card-text {
  font-size: 25px;
  color: #ffffff;
  word-break: initial;
  word-wrap: break-word;
}

.card-title {
  font-size: 35px;
  text-align: center;
  color: #ffffff;
  border-radius: 10px;
  width: fit-content;
}

.card-body {
  border-radius: 10px;
  background-color: #ffb703;
  height: 50vh;
}

.navbar-collapse {
  color: cadetblue;
}

.navbar {
  height: 15vh;
  min-height: 90px;
}


@media screen and (max-width: 600px) {
  .navbar {
    height: 10vh;
  }

  .section-row {
    flex-direction: column;
  }

  #img-sobre {
    display: none;
  }

  .card-body {
    height: auto;
  }
}